<div class="building-list-page" style="background-color: #81A6C6; width: fit-content;">
  <header class="building-list-page__header">
    <h1>Public Buildings</h1>
    <button [disabled]="isSaving()" (click)="showCreateDialog = true">+ New Building</button>
  </header>

  @if (isLoading()) {
    <p class="building-list-page__loading">Loading...</p>
  } @else if (buildings().length > 0) {
    <div class="building-list-page__grid">
      @for (building of buildings(); track building.id) {
        <app-building-card [building]="building" />
      }
    </div>
  } @else {
    <app-empty-state>
      <ng-template #emptyTpl>
        <p>No buildings found. Click "+ New Building" to create one.</p>
      </ng-template>
    </app-empty-state>
  }

  @if (showCreateDialog) {
    <app-create-building-dialog
      (confirmed)="onCreate($event)"
      (cancel)="showCreateDialog = false"
    />
  }
</div>
