<div class="toast-container">
  @for (toast of toastService.toasts(); track toast.id) {
    <div class="toast toast--{{ toast.type }}" role="alert">
      <span class="toast__icon">
        @switch (toast.type) {
          @case ('success') { <svg lucideCircleCheck></svg> }
          @case ('error') { <svg lucideCircleX></svg> }
          @case ('warning') { <svg lucideTriangleAlert></svg> }
          @default { <svg lucideInfo></svg> }
        }
      </span>
      <span class="toast__message">{{ toast.message }}</span>
      <button class="toast__dismiss" (click)="toastService.dismiss(toast.id)">
        <svg lucideX></svg>
      </button>
    </div>
  }
</div>
