<ul class="device-list">
  @for (device of devices(); track device.id) {
    <li class="device-list__item">
      <span class="device-list__type">{{ device.type }}</span>
       | <span class="device-list__capacity">Capacity: {{ device.ratedCapacityValue | energy: device.ratedCapacityUnit }}</span>
       | <span class="device-list__production">Production: {{ device.productionRateValue | energy: device.productionRateUnit }}</span>
    </li>
  } @empty {
    <li class="device-list__empty">No devices added yet.</li>
  }
</ul>
