<a class="building-card" [routerLink]="['/assets', building().id]">
  <div class="building-card__band"></div>
  <div class="building-card__body">
    <h3 class="building-card__name">{{ building().name }}</h3>
    <p class="building-card__location">{{ building().location }}</p>
    <p class="building-card__consumption">
      <svg lucideZap class="building-card__consumption-icon"></svg>
      <app-energy-display [value]="building().consumptionValue" [unit]="building().consumptionUnit" />
    </p>
    <p class="building-card__devices">{{ deviceSummary() }}</p>
  </div>
</a>
